* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    color: white;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    padding: 16px 32px;
}

/*navbar*/

.navbar {
    background-color: black;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

img {
    max-width: 175px;
    margin-left: -24px;
}

.hamburger .icon {
    color: white
}

.nav {
    display: flex;
}

.nav #menu {
    display: none;
    gap: 16px;
    padding: 0 16px;
}

/*for smaller screen*/

@media(max-width: 948px) {
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .hamburger {
        display: flex;
        justify-content: flex-end;
    }

    .nav #menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        margin-bottom: -270px;
        margin-right: -8px;
        align-items: flex-end;
        overflow: visible;
        background-color: black;
        border-radius: 5px;
    }
}